.drawer-header {
  background-color: #FFFFFF;
}

#bloc-logo {
  float: left;
  width: 40%;
  height: relative;
  padding: 10px;
}

.bloc-chat {
  float: left;
  font-size: 46px;
  font-weight: bold;
  padding: 5px;
}

.greeting-icon {
  font-size: 100px;
  color: #E040FB;
  margin-top: 10%;
  text-align: center;
  width: 100%;

}

.greeting {
  text-align: center;
  /* width: 100%; */
  margin-top: 10%;
  padding: 10px 30px;
}

#avatar {
  float: left;
  clear: left;
  height: 60px;
  width: relative;
  border-radius: 50%;
  padding: 10px;
}

.current-user {
  float: left;
  clear: left;
  font-size: 18px;
  padding: 10px;
  font-weight: bold;
}

#sign-out {
  float: left;
  margin-left: 30px;
  margin-top: 20px;
}

#sign-in {
  float: left;
  margin-left: 30px;
  margin-top: 20px;
}

.room-actions {
  float: right;
  padding: 16px 5px;
  
}


.room-name {
  float: left;
}

.rename-input {
  padding: 5px;
  width: 80%;
  margin-left: 10%;
}

.rename-button {
  margin-left: 30%;
}

.dialog-title {
  font-size: 22px;
}

.current-room {
  margin-bottom: 60px;
}

.room-title {
  font-size: 26px;
  margin-left: 20px;
}

#typing-indicator {
  position: fixed;
  bottom: 60px;
  font-style: italic;
  z-index: 99999;
  left: 50%;
}

.sticky-message {
  width: 100%;
  height: 50px;
  position: fixed;
  bottom: 0;
  background-color: #3F51B5;
  padding: 5px
}

.send-message {
  
  display: block;
  width: 100%;
  height: 100%;
  padding: 5px .5% 5px .5%;

}

#message-input {
  float: left;
  height: 80%;
  width: 75%;
  background-color: #FFFFFF;
  border-radius: 2px;
  padding: 5px;
}

.submit-container {
  float: left;
  display: block;
  width: 18%;
  padding-left: 1%;
  padding-top: 3px;
}

#send {
  height: 100%;
  position: unset;
  bottom: unset;
}

.message {
  float: left;
  clear: left;
  width: 100%;
}


.message:nth-child(even) {
  background-color: #FFFFFF;
}

.message:nth-child(odd) {
  background-color: #EEEEEE;
}

.activity-icon {
  float: left;
  padding: 5px 0px 0px 5px;
  
}

.message-username {
  float: left;
  /* clear: left; */
  font-size: 22px;
  font-weight: bold;
  width: 20%;
  margin: 10px;
  line-height: 1;
}

.message-content {
  font-size: 16px;
  float: left;
  clear: left;
  width: 70%;
  margin: 10px;
}

.message-timestamp {
  float: right;
  clear: right;
  width: 20%;
  line-height: 1;
  text-align: right;
  padding-right: 10px;
}

.message-actions {
  line-height: .5;
  float: right;
  clear: right;
  padding-right: 10px;
}

.edit-input {
  padding: 10px;
}

.rooms-list {
  margin-bottom: 30px;
}

.room-input {

  float: left;
  width: 100%;
}

#rname {
  padding: 10px;
}
.cancel, .create {
  float: left;
  width: 50%;
}

.create-container {
  position: sticky;
  bottom: 20px;
  margin-left: 25%;
}